body {
    background-color: #ffffff;
}
p, li{
    font-family: "Cormorant Garamond", serif;
}

/* Header */

.headerContainer {
    display: flex;
    height: 20px;
    padding: 20px;
    background-color: #FFE5A0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerNav {
    display: flex;
    margin-left: auto;
    gap: 10px;
    font-family: "Cormorant Garamond", serif;
}

.headerNav a {
    position: relative;
}

.headerNav-link {
    text-decoration: none;
    color: inherit;
}

.headerNav-link:hover {
    text-decoration : underline;
}

.headerLogo {
    font-family: "Cormorant Garamond", serif;
}

/* Main Home Container */


.mainHomeCtr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem; /* To prevent content from hiding behind the fixed header */
}

.mainHomeCtr1 { 
    text-align: center;
    color: black;
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 48px;
    background-image: url('assets/g.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

@keyframes textShadowColor {
    0% {
        text-shadow: 2px 2px 4px rgb(248, 238, 238); /* Start with initial shadow */
    }
    50% {
        text-shadow: 2px 2px 4px rgba(246, 67, 138, 0.868); /* Midway change shadow color to red */
    }
    100% {
        text-shadow: 2px 2px 4px rgba(157, 46, 255, 0.5); /* End with shadow color change to blue */
    }
}

.mainH1Home {
    font-size: 4rem;
    color: black;
    font-family: 'Poltawski Nowy', serif;
    margin-bottom: 20px; /* Adjust as needed for spacing */
    padding-right: 25%;
    margin-top: 200px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: textShadowColor 5s infinite alternate; /* Apply the animation with a 5s duration, infinite loop, and alternate direction */
}

.mainPHome {
    background-color: white;
    font-size: 1.2rem;
    margin: 20px 100px; /* Adjust as needed for spacing */
    padding: 20px;
    padding-top: 30px;
    margin-top: 200px; /* Move down the position */
    line-height: 30px;
}

#homeP2 {
    color: #ff70bc;
}
/* main About */
.aboutHomeCtr {
    background-color: #ffffff;
    padding: 3.5rem;
    margin-top: 1rem;
}

.aboutFlxCtr {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    height: 80%;
}

/* Default styling for aboutCtr */
.aboutCtr {
    
    padding: 1rem;
    margin: 1rem;
    width: 60%;
}

/* Responsive styling for aboutCtr */
@media (min-width: 1200px) {
    .aboutCtr {
        width: 80%;
        margin: 1rem auto;
    }
}

@media (max-width: 1200px) {
    .aboutCtr {
        width: 90%;
        margin: 1rem auto;
    }
}

@media (max-width: 768px) {
    .aboutCtr {
        width: 100%;
        margin: 1rem auto;
    }
}


.mainH1About {
    font-family: 'Poltawski Nowy', serif;
    font-size: 3rem;
    padding-top: 1rem;
}

.mainPAbout {
   
    margin: 3rem;
    font-size: 1.2rem;
    line-height: 30px;
    text-align: justify;
    margin-left: 5rem;
    width: 80%;
}

.aboutImg {
    width: 410px;
    height: 410px;
    object-fit: cover;
    aspect-ratio: 1;
    margin-right: 3.5rem;
    margin-top: 60px;
}

/* main history */
.hstryFlxCtr {
    /* display: flex;
    align-items: flex-start; */
    height: 80%;
    margin-top: 5rem;
}

.historyImg {
    /* width: 100%; */
    /* max-width: 500px; Adjust as needed for the desired maximum width */
    /* height: auto; Maintain aspect ratio */
    object-fit: cover;
    margin-right: 4rem;
    aspect-ratio: 1;
}

.responsiveImg {
    width: 100%;
    height: 75%;
}


/* .historyImg {
    width: 50%;
    height: 410px;
    object-fit: cover;
    aspect-ratio: 2;
    margin-right: 3.5rem;
} */

.mainH1History {
    font-family: 'Poltawski Nowy', serif;
    font-size: 3rem;
    margin-top: auto;
}

.mainPHistory {
    font-size: 1.2rem;
    line-height: 30px;
    text-align: justify;
    margin: 1rem;
    width: 100%;
    text-indent: 30px;
}

/* main Varieties */
.vrtsFlxCtr {
   
    display: flex;
    align-items: flex-start;
    height: 80%;
    margin-top: 5rem;
}

.mainH1Vrts {
    font-family: 'Poltawski Nowy', serif;
    font-size: 5rem;
    padding-top: 1rem;
    padding-left: 5rem;
}

.vrtsImg {
    width: 500px;
    height: 700px;
    object-fit: cover;
    aspect-ratio: 2;
    margin-right: rem;
}

.vrtsImg {
    max-width: 100%; /* Ensure image doesn't exceed container width */
    transition: transform 0.3s ease-in-out; /* Transition effect for zoom */
}

.vrtsImg:hover {
    transform: scale(1.1); /* Zoom in effect on hover */
}


.mainUlVrts {
    list-style: none; /* Remove default bullets */
    padding-left: 0;
}

.mainUlVrts li {
    position: relative;
    padding-left: 25px; /* Space for custom bullet */
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}

.mainUlVrts li::before {
    content: "•"; /* Custom bullet character */
    position: absolute;
    left: 0;
    color: #f45b69; /* Custom bullet color */
    font-size: 1.5rem;
    line-height: 1;
}



/* Image pages */
.imageGallery {
    background-color: #ffebef;
    padding: 4rem;
    width: 90%;
    height: 50%;
    padding-top: 2rem;
}

.imageGallery h1 {
    font-family: 'Poltawski Nowy', serif;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    margin: 1px;
    margin-bottom: 2rem;
}

.mainImgContainer {    
    background-color: #fff9fa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    grid-auto-rows: 320px 320px;
}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#item1 {
    grid-column: 1;
    grid-row: 1 / 2 span;
}

#item2 {
    grid-row: 1;
    grid-column: 2 / 2 span;
}

#item5 {
    grid-column: 4;
    grid-row: 1 / 2 span;
}

/* faq */
.mainFaqCtr {
    border-block-start-width: 0px;
    background-color: #FFE5A0;
    padding: 4rem;
    width: 90%;
    height: auto;
    padding-top: 3rem;
}

.mainFaqCtr h1 {
    font-family: 'Poltawski Nowy', serif;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    margin: 1px;
}

.mainFaqCtr p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.faqContainer {    
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    /* grid-auto-rows: 320px 320px; */
}

.faqGrid-item {
    margin-left: 12%;
}

.faqGrid-item img {
    width: 410px;
    height: 410px;
    object-fit: cover;
    aspect-ratio: 1;
    display: flex;
}



#faqItem1 {

}

#faqItem2 {
    
}

.faqUl {
    margin: auto;
    margin-right: 2rem;
    padding-right: 4rem;
    display: flex;
    justify-content: center;
   }

.faqUl p {
    display: flex;
    justify-content: center;
    text-align: justify;
    line-height: 1.8rem;
}

/* Comunity */
.comunityCtr h1 {
    font-family: 'Poltawski Nowy', serif;
    display: flex;
    justify-content: center;
    text-align :center;
    font-size: 2.5rem;
    margin: 1rem;
}

.comunityCtr p {
    display: flex;
    justify-content: center;
    text-align :center;
    font-size: 1rem;
    margin: 1rem;
}

form {
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    display: block;
    /* border-radius: 2px; */
    border: none;
}

fieldset div {
    display: block;
}

.text {
    width: 100%;
    padding: 4px 4px;
    margin: 8px 0;
    display: block;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.rdioBtnComunity {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.btnCtrComunity {
    margin: 2rem;
    text-align: center;
    justify-content: center;

}

.btnComunity {
    padding: .65rem 1.75rem;
    background-color: #FFE5A0;
    border-radius: 5px;
    border: none;
}

.mainContactCtr {
    margin-top: 2rem;
    background-color: #f4f0e5;
    height: 450px;
}
.contactCtr {    
    /* background-color: #; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    grid-auto-rows: 320px 320px;
    padding: 2rem;
}

.contactItem1 p{
    justify-content: left;
    text-align: justify;
    line-height: 1.5rem;
    color: #b13d51;
}

#contactDivItem1 {
    margin-top: 4rem;
}

#contactDivItem1 p{
    margin-bottom: 1px;
    margin-top: 0px;
}




/* footer */
.footer {
    padding: 5px;
    background-color: #f4f0e5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
}

.footer p{
    color: #b13d51;
}

/* animation */
/* background-repeat: no-repeat;
background-position-x: center;
background-position-y: top;
transition-property: background-size;
transition-duration: 3s; */
